---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Logo from '../components/Logo.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Icon } from 'astro-icon';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="flex flex-col min-h-screen p-4 bg-white">
			<div class="absolute left-4 top-4 right-4">
				<Header title={SITE_TITLE} />
			</div>

			<main class="p-4 grow-[1] flex flex-col justify-center bg-primary-dim">
				<div class="h-full flex flex-col justify-center max-w-xl mx-auto">
					<div class="text-3xl font-light tracking-wider text-justify mb-4 z-10">
						<p>This is Nacht.</p>
						<p>
							A free and open source novel reader providing multiple sources
							for reading your favourites at your convenience.
						</p>
					</div>

					<div class="z-10">
						<div>
							<a href="/download" class="flex items-center gap-2 hover:gap-4 font-light uppercase transition-all">
								Download <Icon name="mdi:arrow-right-thin" class="w-6" />
							</a>
						</div>
					</div>
				</div>
			</main>

			<!-- Background Logo -->
			<div class="absolute inset-4 flex items-center pointer-events-none">
				<Logo class="w-96 aspect-square text-primary-dim mx-auto drop-shadow-[0_1px_1px_rgb(81,81,130,0.1)]" />
			</div>

			<!-- Footer -->
			<footer class="absolute left-4 bottom-4 right-4 text-xs p-4 uppercase">
				<div class="flex flex-col md:flex-row gap-2 justify-between">
					<div class="flex items-center gap-4 hover:underline">
						<a href="https://github.com/nacht-org/nacht" target="_blank">Github</a>
					</div>
					<span>
						&copy; {new Date().getFullYear()} Mohamed Haisham. All rights reserved.
					</span>
				</div>
			</footer>
		</div>
	</body>
</html>
