---
import Logo from './Logo.astro';
import { SITE_TITLE } from '../consts';
import { Icon } from 'astro-icon';
---

<header class="p-4 bg-primary-dim">
	<div class="flex justify-between items-center">
		<a href="/" class="flex items-center gap-4 group">
			<div class="w-8 aspect-square group-hover:rotate-45 transition-transform">
				<Logo />
			</div>
			<span class="uppercase tracking-wide text-sm">
				{ SITE_TITLE }
			</span>
		</a>

		<nav>
			<div class="flex items-center justify-center gap-4 group relative">
				<span class="text-sm tracking-wide">MENU</span>
				<div class="w-8 aspect-square">
					<Icon name="mdi:menu"  />
				</div>

				<div class="bg-primary-dim absolute right-0 top-0 invisible group-hover:visible opacity-0 group-hover:opacity-100 transition-all">
					<div class="flex flex-col gap-4 tracking-wide uppercase text-sm p-1 mr-9">
						<a href="">Guide</a>
						<a href="">Blog</a>
						<a href="">About</a>
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>
