---
import HeaderLink from './HeaderLink.astro';
import Logo from './Logo.astro';
import { SITE_TITLE } from '../consts';
---

<header class="sticky top-0 p-4 border-b">
	<div class="flex justify-between items-center">
		<div class="flex items-center gap-4 text-primary">
			<div class="h-8 aspect-square">
				<Logo />
			</div>
			<h1 class="text-2xl font-black">{ SITE_TITLE }</h1>
		</div>
		<nav class="flex gap-4">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink>
			<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink>
		</nav>
	</div>
</header>
